<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/libs/css/bootstrap.min.css">

</head>

<body>
       {% include 'templates/statics/navbar.html' %}

    <div class="content" style="padding: 0 10%;">
    </br>
    </br>
    
        <p>{{ content }}</p>
 
        <style>
            .card {
                max-height: 100%; /* La carte prend la hauteur maximale de la ligne */
                margin-bottom: 10px; /* Espacement entre les cartes */
                height: 100% / disposition;
            }
        </style>
        
        <div class="row">
            {% for row in rows %}
            <div class="col">
                {% for card in row %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" style="color: {{ card.color }}">{{ card.title }}</h5>
                        <p class="card-text">{{ card.text | safe }}</p>
                        <br>
                        <!-- {{card.button}} -->
                        {% if card.button == 'true' %}
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="button"
                                style="background-color: {{ card.color }};border-color: {{ card.color }};"
                                onclick="window.location.href = '/{{ card.href }}';">{{ card.button_text }}</button>
                        </div>
                        {% else %}
                        </br>
                        </br>
                        {% endif %}
                        
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        
        
        
    </div>

    <script src="/libs/js/bootstrap.min.js"></script>

</body>

</html>